.wrap-logo {
  width: 100%;
}

.joke {
  margin: 2em auto auto;
  width: 60%;
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: center;
}

#random-btn {
  margin-top: 0.5em;
  font-size: 3rem;
  background-color: #415ca8;
  color: white;
  border-radius: 15px;
}
