<div class="container">
  <div class="input-container">
    <input #input
           [value]="!multipleChoice ? getNameByValue(value) : label"
           [id]="id"
           readonly
           [ngClass]="{'has-value': value != '', 'has-label': label}"
           [disabled]="disabled"
           (focus)="showDropdown = true"
    />
    <label class="label" *ngIf="!multipleChoice" [for]="id">{{label}}</label>
    <label class="anchor"></label>
    <div class="click-catcher" (click)="showDropdown = !showDropdown"></div>
    <app-icon id="expand-more" [ngClass]="{'rotate': showDropdown}">expand_more</app-icon>
  </div>
  <fieldset [@slideIn] *ngIf="showDropdown" class="options-container" [ngStyle]="{'top':label ? '56px' : '33px'}">
    <div *ngFor="let optionName of names">
      <label [for]="optionName" class="option" (click)="selectOption(optionName);"
             [ngClass]="{'selected': getValueByName(optionName) === focusValue}">
        <app-checkbox *ngIf="multipleChoice"
                      [focusable]="!multipleChoice"
                      [checked]="multipleChoice ? value.has(getValueByName(optionName)) : value === getValueByName(optionName)">
        </app-checkbox>
        {{optionName}}
      </label>
    </div>
  </fieldset>
</div>
