#joke-details {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joke-property {
  margin-top: 20px;
  width: 60%;
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: center;
}

#copy-btn {
  margin-top: 0.5em;
  font-size: 3rem;
  background-color: #415ca8;
  color: white;
  border-radius: 15px;
}
