@import "../../../variables";

.container {
  .bar {
    margin: 10px;
    display: flex;
    padding: 10px;
    height: 60px;
    justify-content: flex-start;
    align-items: center;
    background-color: #415ca8;
    border: 1px solid $gray-lightest;
    border-radius: 5px;

    app-select {
      margin-right: 5px;

      ::ng-deep {
        #expand-more {
          ::ng-deep {
            i {
              color: white !important;
            }
          }
        }
      }
    }
  }
}
