<div class="container">
  <div class="bar">
    <app-select
      [names]="categories"
      [values]="categories"
      [(value)]="selectedCategories"
      (valueChange)="categoryChange()"
      multipleChoice="true"
      label="Categories">
    </app-select>
    <app-chip *ngFor="let category of selectedCategories"
              (delete)="selectedCategories.delete(category); categoryChange()">
      {{category}}
    </app-chip>
  </div>
  <div class="grid">
    <div class="joke" *ngFor="let joke of filteredJokes" (click)="openJoke(joke)">
      <span>{{joke.value}}</span>
      <span *ngIf="selectedCategories.size > 1 && joke.categories.length !== 0" class="category">
          {{joke.categories[0]}}
      </span>
    </div>
  </div>
</div>
