@import "../../../variables";

.tag {

  display: flex;
  align-items: center;
  background-color: $gray-lightest;
  border-radius: 20px;

  app-icon-button {
    margin-right: 5px;
    border-radius: 50%;
    transform: scale(.88);
  }

  &.size-normal {
    min-width: 100px;
    padding-right: 20px;
    margin-right: 10px;
    cursor: default;

    app-icon-button {
      background-color: lighten($gray-lighter, 8);
    }
  }

  &.size-small {
    border: 2px solid $gray-lightest;
    padding-right: 13px;
    margin-right: 5px;
    background-color: transparent;

    app-icon-button {
      margin-right: 2px;

      ::ng-deep {
        button {
          height: auto;

          app-icon {
            ::ng-deep {
              i {
                height: 15px;
                width: 15px;
                font-size: 18px;
                padding: 5px 5px 5px 2px;
              }
            }
          }

        }
      }
    }
  }
}
